*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
main{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
$color-green: #2AC273;
$color-red: #F38181;
$color-yellow: #FFBB41;
$color-black: rgb(112, 111, 111);